In [ ]:
import pandas as pd
df=pd.read_excel('/content/sample_data/Celling_Data.xlsx')
df

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,Order Date,CustomerName,State,City,Year-Month
0,B-26776,9726,1275,5,Electronics,Electronic Games,UPI,2023-06-27,David Padilla,Florida,Miami,2023-06
1,B-26776,9726,1275,5,Electronics,Electronic Games,UPI,2024-12-27,Connor Morgan,Illinois,Chicago,2024-12
2,B-26776,9726,1275,5,Electronics,Electronic Games,UPI,2021-07-25,Robert Stone,New York,Buffalo,2021-07
3,B-26776,4975,1330,14,Electronics,Printers,UPI,2023-06-27,David Padilla,Florida,Miami,2023-06
4,B-26776,4975,1330,14,Electronics,Printers,UPI,2024-12-27,Connor Morgan,Illinois,Chicago,2024-12
...,...,...,...,...,...,...,...,...,...,...,...,...
1189,B-26370,8825,3594,15,Furniture,Tables,Debit Card,2024-07-31,Megan Mclean,New York,New York City,2024-07
1190,B-26298,2082,642,8,Electronics,Phones,EMI,2020-06-02,Caitlin Hunt,New York,Rochester,2020-06
1191,B-26298,2082,642,8,Electronics,Phones,EMI,2022-12-15,Jenna Holland,Texas,Austin,2022-12
1192,B-26298,2082,642,8,Electronics,Phones,EMI,2020-08-07,Stephanie Oconnell,New York,Buffalo,2020-08
1193,B-25068,914,163,13,Office Supplies,Markers,UPI,2024-10-26,Andrea Hill,Illinois,Chicago,2024-10

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1194 entries, 0 to 1193
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      1194 non-null   object
 1   Amount        1194 non-null   int64
 2   Profit        1194 non-null   int64
 3   Quantity      1194 non-null   int64
 4   Category      1194 non-null   object
 5   Sub-Category  1194 non-null   object
 6   PaymentMode   1194 non-null   object
 7   Order Date    1194 non-null   datetime64[ns]
 8   CustomerName  1194 non-null   object
 9   State         1194 non-null   object
 10  City          1194 non-null   object
 11  Year-Month    1194 non-null   object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 112.1+ KB

In [ ]:
df.describe()

            Amount       Profit     Quantity                     Order Date
count  1194.000000  1194.000000  1194.000000                           1194
mean   5178.089615  1348.992462    10.674204  2022-10-03 21:49:44.924623104
min     508.000000    50.000000     1.000000            2020-03-22 00:00:00
25%    2799.000000   410.000000     6.000000            2021-09-06 00:00:00
50%    5152.000000  1014.000000    11.000000            2022-10-07 00:00:00
75%    7626.000000  2035.000000    16.000000            2023-12-12 00:00:00
max    9992.000000  4930.000000    20.000000            2025-03-15 00:00:00
std    2804.921955  1117.992573     5.777102                            NaN

In [ ]:
df['Amount'].sum()

np.int64(6182639)

In [ ]:
df['Profit'].sum()

np.int64(1610697)

In [ ]:
df.groupby('Category')['Amount'].sum()

Category
Electronics        2054456
Furniture          2038673
Office Supplies    2089510
Name: Amount, dtype: int64

In [ ]:
df.groupby('Category')['Profit'].sum()

Category
Electronics        518580
Furniture          540542
Office Supplies    551575
Name: Profit, dtype: int64

In [ ]:
df.groupby('State')['Amount'].sum().sort_values(ascending=False)

State
New York      1130048
Florida       1091174
California    1086436
Texas         1011475
Illinois       978738
Ohio           884768
Name: Amount, dtype: int64

In [ ]:
df['PaymentMode'].value_counts()

PaymentMode
Debit Card     260
Credit Card    258
UPI            252
EMI            218
COD            206
Name: count, dtype: int64

In [ ]:
df.groupby('Year-Month')['Amount'].sum()

Year-Month
2020-03     22991
2020-04    133385
2020-05    113287
2020-06     46900
2020-07     38556
            ...
2024-11     60976
2024-12     98879
2025-01    112906
2025-02     84712
2025-03     52198
Name: Amount, Length: 61, dtype: int64

In [ ]:
df.groupby('CustomerName')['Amount'].sum().sort_values(ascending=False).head()

CustomerName
Cory Evans            28557
Nicholas Anderson     27352
Emily Ellison         27352
George Foster         27352
Katherine Williams    25121
Name: Amount, dtype: int64

In [ ]:
df['Profit_Percentage']=(df['Profit']/df['Amount'])*100
df

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,Order Date,CustomerName,State,City,Year-Month,Profit_Percentage
0,B-26776,9726,1275,5,Electronics,Electronic Games,UPI,2023-06-27,David Padilla,Florida,Miami,2023-06,13.109192
1,B-26776,9726,1275,5,Electronics,Electronic Games,UPI,2024-12-27,Connor Morgan,Illinois,Chicago,2024-12,13.109192
2,B-26776,9726,1275,5,Electronics,Electronic Games,UPI,2021-07-25,Robert Stone,New York,Buffalo,2021-07,13.109192
3,B-26776,4975,1330,14,Electronics,Printers,UPI,2023-06-27,David Padilla,Florida,Miami,2023-06,26.733668
4,B-26776,4975,1330,14,Electronics,Printers,UPI,2024-12-27,Connor Morgan,Illinois,Chicago,2024-12,26.733668
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,B-26370,8825,3594,15,Furniture,Tables,Debit Card,2024-07-31,Megan Mclean,New York,New York City,2024-07,40.725212
1190,B-26298,2082,642,8,Electronics,Phones,EMI,2020-06-02,Caitlin Hunt,New York,Rochester,2020-06,30.835735
1191,B-26298,2082,642,8,Electronics,Phones,EMI,2022-12-15,Jenna Holland,Texas,Austin,2022-12,30.835735
1192,B-26298,2082,642,8,Electronics,Phones,EMI,2020-08-07,Stephanie Oconnell,New York,Buffalo,2020-08,30.835735
1193,B-25068,914,163,13,Office Supplies,Markers,UPI,2024-10-26,Andrea Hill,Illinois,Chicago,2024-10,17.833698

In [ ]:
df['Profit_Percentage'].sum()

np.float64(31112.167730207828)